:root {
	--container-width: 1280px;
	--container-padding: 15px;

	// Color
	--page-bg: #f9f9f9;
	--text-color: #676767;
	--color-primary: #6c5fbc;
	--color-grey: #cbcbcb;
	--color-light-primary: #dbd9ee;
	--color-dark-grey: #606060;
	--color-amber: #f59e0b;
	--color-blue-grey: #334155;

	// Fonts
	--font-family: "Poppins", sans-serif;
	--second-family: "Inter", sans-serif;
	--third-family: "Manrope", sans-serif;
	--font3: "Roboto", sans-serif;
	--font4: "PublicSans", sans-serif;
	--font5: "Quicksand", sans-serif;
	--font6: "PlusJakartaSans", sans-serif;
}
