a.btn,
.btn {
    border-radius: 18px;
    padding: 18px 27px;

    background-color: var(--color-primary);

    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--page-bg);

    display: inline-block;
    transition: all 0.3s ease-in-out;

    &__auth--sign {
        &:hover {
            background-color: #3f367a;
        }
    }

    &__auth--log {
        background-color: unset;

        color: var(--color-dark-grey);

        &:hover {
            background-color: var(--color-primary);
            color: var(--page-bg);
        }
    }

    &__hero--start {
        border-radius: 12px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #fff;

        &:hover {
            background-color: #3f367a;
        }
    }

    &__hero--pro {
        border: 1.5px solid #6c5fbc;
        border-radius: 12px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #6c5fbc;

        background-color: var(--page-bg);

        &:hover {
            background-color: var(--color-primary);
            color: var(--page-bg);
        }
    }

    &--download {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 125%;
        text-align: center;
        color: #fff;

        padding: 20px 18px 20px 26px;

        span,
        svg {
            vertical-align: middle;
        }

        span {
            margin-right: 10px;
        }

        &:hover {
            background-color: #3f367a;
        }
    }

    &--view {
        position: absolute;
        right: 11px;
        bottom: 120px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 226%;
        letter-spacing: -0.01em;
        color: #acadb9;

        display: flex;
        align-items: center;
        gap: 10px;

        padding: 0;
        background-color: unset;

        svg {
            stroke: #acadb9;
        }

        &:hover {
            color: #424242;

            svg {
                stroke: #424242;
            }
        }

        @include tablet {
            font-size: 14px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    @include tablet {
        padding: 13px 19px;
        border-radius: 13px;

        font-size: 12px;

        &--download {
            font-size: 12px;
            padding: 13px 19px;

            span,
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &--view {
            bottom: 65px;
            font-size: 14px;
        }
    }
}

.btn-add {
    border-radius: 9px;
    width: 43px;
    height: 39px;
    background: #323142;

    @include tablet {
        width: 32px;
        height: 29px;
        border-radius: 6px;

        svg {
            width: 11px;
            height: 11px;
        }
    }

    @media (max-width: 370px) {
        border-radius: 6px;
        width: 28px;
        height: 25px;

        svg {
            width: 9px;
            height: 9px;
        }
    }
}

.btn__auth--log:hover + .btn__auth--sign {
    background-color: unset;
    color: var(--color-dark-grey);
}

.btn__start--hover,
a.btn__start--hover {
    background-color: unset;
    color: #6c5fbc;
    background-color: var(--page-bg);
    border: 1.5px solid #6c5fbc;
    border-radius: 12px;
}
