.icon {
    width: 16px;
    height: 16px;
    fill: var(--color-primary);
}

.icon--star {
    fill: var(--color-amber);
}

.icon--arrow-right {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fill: none;
}

.icon--star-purple {
    width: 26px;
    height: 26px;
}

.icon--star-purple2 {
    width: 23px;
    height: 23px;
}

.icon--book-mark {
    width: 15px;
    height: 20px;
}

.icon--heart {
    position: absolute;
    fill: #323142;
    width: 23px;
    height: 19px;
    top: 24px;
    right: 22px;
}

.icon--add {
    fill: #fff;
    stroke: #fff;
    width: 15px;
    height: 15px;
}