.mobile-app {
    padding: 120px 0 0;

    .container {
        max-width: 1292px;

        @include tablet {
            max-width: 930px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        padding-bottom: 120px;

        @include tablet {
            padding-bottom: 85px;
            gap: 50px;
        }

        @include mobile {
            flex-direction: column;
            gap: 100px;
            justify-content: center;
            padding-bottom: 66px;
            align-items: center;
        }
    }

    &__img {
        position: relative;

        &-illustration {
            position: absolute;
            top: -16px;
            right: -67px;
        }

        @include tablet {
            max-width: 217px;

            &-illustration {
                width: 40px;
                height: 45px;
                top: -18px;
                right: -46px;
            }
        }

        @media (max-width: 700px) {
            max-width: 170px;

            &-illustration {
                width: 33px;
                height: 37px;
                top: -14px;
                right: -38px;
            }
        }

        @include mobile {
            order: 2;
        }
    }

    &__content {
        position: relative;

        flex-basis: 560px;
        flex-shrink: 1;

        padding-top: 75px;

        &-title {
            max-width: 520px;
            margin-bottom: 63px;

            @include tablet {
                max-width: 380px;
                margin-bottom: 45px;
            }

            @media (max-width: 700px) {
                margin-bottom: 37px;
            }

            @include mobile {
                max-width: 300px;
                text-align: center;
            }
        }

        &-quality {
            display: flex;
            flex-direction: column;
            gap: 28px;
            margin-bottom: 61px;

            li {
                position: relative;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                padding-left: 31px;

                &::before {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    background-color: var(--text-color);

                    top: 12px;
                    left: 10px;
                }

                @include tablet {
                    font-size: 14px;
                    padding-left: 26px;

                    &::before {
                        width: 5px;
                        height: 5px;
                        top: 9px;
                        left: 7px;
                    }
                }

                @include mobile {
                    font-size: 11px;
                    padding-left: 20px;

                    &::before {
                        width: 4px;
                        height: 4px;
                        top: 7px;
                        left: 5px;
                    }
                }
            }

            @include tablet {
                gap: 20px;
                margin-bottom: 43px;
            }

            @include mobile {
                gap: 17px;
                margin-bottom: 35px;
            }
        }

        &-illustration {
            position: absolute;
            bottom: 30px;
            left: 160px;

            @include tablet {
                width: 121px;
                height: 44px;
                bottom: 18px;
                left: 120px;
            }

            @media (max-width: 700px) {
                width: 100px;
                height: 36px;
                bottom: -25px;
                left: 110px;
            }

            @include mobile {
                width: 153px;
                height: 117px;
                top: 265px;
                left: -17px;

                transform: rotate(115deg);
            }

            @media (max-width: 350px) {
                width: 120px;
                height: 90px;
                top: 327px;
                left: -29px;
            }
        }

        @include tablet {
            flex-basis: 398px;
            padding-top: 65px;
        }

        @media (max-width: 700px) {
            flex-basis: 330px;
            padding-top: 0;
        }

        @include mobile {
            order: 1;
            max-width: 330px;
        }

        @media (max-width: 350px) {
            max-width: 250px;
        }
    }

    @include tablet {
        padding: 85px 0 0;
    }

    @include mobile {
        padding: 67px 0 0;
    }
}

@include mobile {
    .btn__wrapper--download {
        text-align: center;
    }
}
