.purchases {
    padding: 103px 0 0;

    .delimiter {
        margin-top: 120px;

        @include tablet {
            margin-top: 85px;
        }

        @include mobile {
            margin-top: 110px;
        }
    }

    @include tablet {
        padding: 73px 0 0;
    }

    @include mobile {
        padding: 85px 0 0;
    }
}

.purchases__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    &-content {
        flex-basis: 500px;
        flex-shrink: 1;
    }

    @include tablet {
        gap: 50px;

        &-content {
            flex-basis: 400px;
        }
    }

    @include mobile {
        flex-direction: column;
        gap: 50px;
        align-items: center;

        &-content {
            flex-basis: 100%;
        }
    }
}

.purchases__title.title-2 {
    margin-bottom: 48px;

    @include medium {
        font-size: 26px;
        max-width: 245px;
    }

    @include mobile {
        font-size: 30px;
        margin-bottom: 27px;
        max-width: 400px;
    }
}

.purchases__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include tablet {
        gap: 11px;
    }

    @include mobile {
        gap: 10px;
    }
}

.purchases__item {
    position: relative;

    padding: 5px 5px 5px 20px;

    border-radius: 12px;
    background: #fff;

    display: flex;
    gap: 19px;
    align-items: center;

    &-wrap {
        display: flex;
        gap: 4px;
        flex-direction: column;

        @include tablet {
            gap: 3px;
        }

        @include mobile {
            gap: 2px;
        }
    }

    &-title.title-4 {
        font-size: 19px;
        line-height: 140%;

        @include tablet {
            font-size: 13px;
        }

        @include mobile {
            font-size: 12px;
        }
    }

    &-desc {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #323142;

        &--cancelled {
            color: #f1534e;
        }

        @include tablet {
            font-size: 8px;
        }

        @include mobile {
            font-size: 7px;
        }
    }

    &-time {
        position: absolute;

        right: 17px;
        bottom: 10px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        color: #acadb9;

        @include tablet {
            font-size: 9px;
            right: 12px;
            bottom: 5px;
        }

        @include mobile {
            font-size: 8px;
            right: 10px;
            bottom: 4px;
        }
    }

    @include tablet {
        padding: 3px 12px;
        gap: 14px;
        max-width: 245px;

        img {
            width: 51px;
            height: 51px;
        }
    }

    @include mobile {
        padding: 3px 11px;
        gap: 13px;
        max-width: 300px;
    }
}

.purchases__wrapper-info {
    padding: 38px 38px 46px;
    flex-basis: 534px;
    flex-shrink: 1;

    border: 1.57px solid #edf2f7;
    border-radius: 25px;
    background: #fff;
    box-shadow: 7px 60px 41px 0 rgba(229, 229, 229, 0.7);

    @include tablet {
        padding: 33px 26px;
        flex-basis: 380px;
        flex-shrink: 1;
    }

    @include medium {
        padding: 26px 20px;
    }

    @media (max-width: 675px) {
        flex-basis: 50%;
        flex-shrink: 0;
    }

    @include mobile {
        padding: 27px 22px;
        flex-basis: auto;
        max-width: 400px;
        width: 100%;
    }
}

.purchases__info {
    @include flex-center-space-between;
    margin-bottom: 45px;
    flex-shrink: 0;

    h4 {
        font-family: var(--third-family);
        font-weight: 800;
        font-size: 28px;
        line-height: 135%;
        letter-spacing: 0.01em;
        color: #1a202c;

        @include tablet {
            font-size: 20px;
        }

        @include medium {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &-select {
        padding: 13px 19px;
        border-radius: 13px;
        background-color: #fafafa;

        font-family: var(--third-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-align: right;
        color: #1a202c;

        @include flex-center;

        @include tablet {
            padding: 9px 13px;
            font-size: 13px;
            border-radius: 9px;

            svg {
                width: 11px;
                height: 11px;
            }
        }

        @include medium {
            font-size: 11px;
        }

        @include mobile {
            padding: 7px 11px;
            font-size: 11px;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 22px;

        @include tablet {
            gap: 16px;
        }

        @include mobile {
            gap: 13px;
        }
    }

    &-item {
        @include flex-center-space-between;

        border: 1.57px solid #edf2f7;
        border-radius: 19px;
        padding: 25px 25px 55px 25px;

        position: relative;

        &-left {
            @include flex-center;
            gap: 19px;

            div {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }

            @include tablet {
                gap: 14px;
            }

            @include medium {
                gap: 10px;
            }

            @include mobile {
                gap: 11px;
            }
        }

        &-title {
            font-family: var(--third-family);
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: #1a202c;

            @include tablet {
                font-size: 13px;
            }

            @include medium {
                font-size: 11px;
            }
        }

        &-desc {
            font-family: var(--third-family);
            font-weight: 500;
            font-size: 15px;
            line-height: 150%;
            letter-spacing: 0.04em;
            color: #a0aec0;

            @include tablet {
                font-size: 11px;
            }

            @include medium {
                font-size: 9px;
            }
        }

        &-right {
            font-family: var(--third-family);
            font-weight: 800;
            font-size: 21px;
            line-height: 150%;
            letter-spacing: 0.01em;
            text-align: right;
            color: #1a202c;

            @include tablet {
                font-size: 15px;

                position: absolute;
                right: 18px;
            }

            @include medium {
                font-size: 13px;
            }

            @media (max-width: 300px) {
                font-size: 11px;
            }
        }

        &-progress div:first-child {
            position: absolute;
            bottom: 25px;
            right: 25px;
            z-index: 1;

            width: calc(100% - 50px);
            height: 9px;
            border-radius: 79px;
            background: #6c5fbc;

            opacity: 0.2;

            @include tablet {
                bottom: 18px;
            }

            @include medium {
                bottom: 15px;
            }
        }

        &-progress div:last-child {
            position: absolute;
            bottom: 25px;
            left: 25px;
            z-index: 2;

            width: calc(100% - 50px - 30%);
            height: 9px;
            border-radius: 79px;
            background: #6c5fbc;

            @include tablet {
                bottom: 18px;
            }

            @include medium {
                bottom: 15px;
            }
        }

        &-progress--orange div:first-child {
            width: calc(100% - 50px);
            background: #fbad18;
        }

        &-progress--orange div:last-child {
            width: calc(100% - 50px - 50%);
            background: #fbad18;
        }

        @include tablet {
            padding: 18px 18px 39px;
            border: 1.12px solid #edf2f7;
            border-radius: 13px;
        }

        @include medium {
            padding: 15px 15px 30px;
        }

        @include mobile {
            padding: 15px 15px 32px;
        }
    }

    @include tablet {
        margin-bottom: 32px;
    }

    @include mobile {
        margin-bottom: 27px;
    }
}
