.sale {
    margin-bottom: 216px;

    .container {
        max-width: 1244px;
    }
}

.sale__wrapper {
    position: relative;

    padding: 37px 0 61px 66px;

    border-radius: 30px;

    background-color: #6c5fbc;
    background-image: url('./../../img/sale/sale-bg.png');
    background-position: -2px 0; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    &-title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 70px;
        color: #fff;

        margin-bottom: 9px;
    }

    &-form {
        border-radius: 14px;

        max-width: 439px;
        height: 68px;

        padding-left: 22px;

        @include flex-center-space-between;
        gap: 15px;

        box-shadow: 0 7px 45px 0 rgba(0, 0, 0, 0.1);
        background: #fff;

        input::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: #878787;
        }
    }

    &-img {
        border-radius: 100%;
        position: absolute;

        right: 72px;
        bottom: -60px;
    }
}

.form__btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f7f8fa;

    padding: 15px 24px;
    border-radius: 11px;
    background: #6c5fbc;

    margin-right: 6px;
}